nav>li{
    display: inline;
    margin-left: 30px;
    padding-right: 10px;
}
nav >li>  a  {
    text-decoration: none;
    text-transform: capitalize;
}
footer{
    margin-top: 70px;
    text-align: center;
}